/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

* {
  	margin : 0;
  	padding : 0;
  	font-family: 'Poppins', sans-serif;
}

html, body {
  	background-color: #F4F5FB;
  	overflow-x: hidden;
}

nav {
	display: flex;
	background-color: white;
	justify-content: space-around;
	padding: 20px 0;
	align-items: center;
	box-shadow: 0px 6px 19px -9px rgba(0,0,0,0.56);
	position: absolute;
	width: 100vw;
	z-index: 3;
}

nav #logo img {
	max-width: 150px;
	height: auto;
}

nav ul {
	list-style: none;
	display: flex;
	width: 70%;
	justify-content: flex-end;
}

nav ul li a {
	text-decoration: none;
	color: black;
	font-size: 0.8em;
	margin: 0 10px;
}

nav ul li a.onpage{
	color: #04C8E0;
}

nav ul li a.onpage:hover{
	color: #FAE005;
}

nav ul li a:hover {
	text-decoration: none;
	color: #04C8E0;
}
/*hamburger*/
#toggle-menu{
	display: none;
	flex-direction: column;
	height:20px;
	justify-content: space-between;
	position: relative;
}

#toggle-menu input{
	position: absolute;
	width: 28px;
	height: 20px;
	opacity: 0;
	left: -4px;
	cursor: pointer;
	z-index: 2;
}

#toggle-menu span{
	display: block;
	width: 20px;
	height: 4px;
	background-color: black;
	border-radius: 10px;
	transition: 0.2s;
}
/* animasi */
#toggle-menu span:nth-child(2){transform-origin: 0 0;}
#toggle-menu span:nth-child(3){transform-origin: 50% 0;}
#toggle-menu span:nth-child(4){transform-origin: 100% 0;}

#toggle-menu input:checked ~ span:nth-child(2){
	transform: rotate(90deg) translate(0px,-6px);
}

#toggle-menu input:checked ~ span:nth-child(3){
	transform: rotate(90deg) translate(2px,-2px);
}

#toggle-menu input:checked ~ span:nth-child(4){
	transform: rotate(90deg) translate(4px,2px);
}

main article #banner {
	height: 400px;
	padding:107px 0 0 0;
	display: flex;
}

main article #banner #banner-text{
	width: 100vw;
	height: 400px;
	background-color: #F4F5FB;
	position: relative;
	z-index: 0;
	text-align: justify;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.56);
}
main article #banner #banner-text .text {
	padding-top:100px;
	position: relative;
	z-index: 2;
	background-color: #F4F5FB;
	padding-bottom: 50px;
}
main article #banner #banner-text .text h1.kecil  {
	font-size: 20px;
}

main article #banner #banner-text .text h1.besar  {
	font-size: 30px;
}

main article #banner #banner-text .highlight{
	width: 25vw;
	height: 35px;
	background-color: #FAE005;
	border-radius: 10px;
	position: relative;
	z-index: -1;
	box-shadow: inset 0px 0px 15px -9px rgba(0,0,0,0.56);
}

main article #banner #banner-text .text2 {
	background-color: #F4F5FB;
	position: relative;
	z-index: 2;
	width: 25vw;
	height: 110px;
	display: flex;
	justify-content: center;
}

main article #banner #banner-text .text2 .kiri{
	color: black;
	margin-top: 50px;
	height: fit-content;
}


main article #banner #banner-text .highlight-content {
	position: absolute;
    top: 50vh;
    z-index: 1;
}

main article #banner #banner-text .highlight-content h1.marq {
    animation: marquee 30s linear infinite;
    font-size: 18px;
    text-align: center;
}

@keyframes marquee {
    0% {
	    transform: translate(0, -100%);
	}
	100% {
	    transform: translate(0, 0);
	}
}



hr {
	width: 90vw;
	margin: 0 auto;
	background-color: #464748;
	position: relative;
	z-index: 2;
}


























main article #space {
	position: relative;
	z-index: 2;
	background-color: #F4F5FB;
	text-align: center;
	height: 100px;
}

main article #space form input{
	padding: 5px;
}











main article .add{
	position: relative;
	z-index: 2;
	background-color: #F4F5FB;
	height: fit-content;
	padding: 50px 0px;
	text-align: center;
	margin-bottom: 50px;
}

main article .add form input{
	text-align: center;
	width: 220px;
}

main article .add .table-head{
	width: 92vw;
	height: 30px;
	background-color: #FAE005;
	margin: 0px auto;
	border-radius: 20px 20px 0 0;
	box-shadow: 0px 0px 15px -9px rgba(0,0,0,0.56);
}

main article .add .table-head-2{
	width: 92vw;
	height: 30px;
	background-color: #04C8E0;
	margin: 0px auto;
	border-radius: 20px 20px 0 0;
	box-shadow: 0px 0px 15px -9px rgba(0,0,0,0.56);
}

main article .add .table{
	height: 500px;
	width: 92vw;
	overflow-y: scroll;
	margin: auto auto;
}

main article .add .table-foot{
	width: 92vw;
	height: 30px;
	background-color: #FAE005;
	margin: 0px auto;
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 0px 15px -9px rgba(0,0,0,0.56);
}

main article .add .table-foot-2{
	width: 92vw;
	height: 30px;
	background-color: #04C8E0;
	margin: 0px auto;
	border-radius: 0 0 20px 20px;
	box-shadow: 0px 0px 15px -9px rgba(0,0,0,0.56);
}

main article .add table{
	text-align: center;
	margin: 0 auto;
	width: 90vw;
}

main article .add table tr td img{
	max-width: 300px;
	max-height: 300px;
	border:2px solid #EEEEEF;

}

main article .add table tr td a{
	text-decoration: none;
	color: red;
}
























footer{
	display: flex;
	justify-content: space-evenly;
	background-color: white;
	height: fit-content;
	width: 100vw;
	box-shadow: 0px 0px 25px -9px rgba(0,0,0,0.56);

}

footer .footer-box-a{
	background-color: white;
	height: fit-content;
	width: 350px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
	
}

footer .footer-box-a img{
	width: 150px;
	height: auto;
	margin: 15px 0;
}




















/* resposive */
@media screen and (max-width: 768px){
	nav ul{
		width: 75%;
		font-size: 0.9em; 
	}













	main article #banner {
		height: 665px;
		padding:107px 0 0 0;
		display: flex;
	}

	main article #banner #banner-text{
		width: 100vw;
		height: 665px;
		background-color: #F4F5FB;
		position: relative;
		z-index: 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	main article #banner #banner-text .text {
		padding-top:120px;
		position: relative;

		z-index: 2;
		background-color: #F4F5FB;
		padding-bottom: 50px;
	}
	main article #banner #banner-text .text h1.kecil  {
		font-size: 20px;
	}

	main article #banner #banner-text .text h1.besar  {
		font-size: 30px;
	}

	main article #banner #banner-text .highlight{
		width: 50vw;
		height: 45px;
		background-color: #FAE005;
		border-radius: 10px;
		position: relative;
		z-index: -1;
		box-shadow: inset 0px 0px 15px -9px rgba(0,0,0,0.56);
	}

	main article #banner #banner-text .text2 {
		background-color: #F4F5FB;
		position: relative;
		z-index: 2;
		width: 70vw;
		height: 350px;
		display: flex;
		justify-content: center;
	}

	main article #banner #banner-text .text2 .kiri{
		color: black;
		margin-top: 50px;
		height: fit-content;
	}

	main article #banner #banner-text .highlight-content {
		position: absolute;
	    top: 50vh;
	    z-index: 1;
	}

	main article #banner #banner-text .highlight-content h1.marq {
	    animation: marquee 30s linear infinite;
	    font-size: 20px;
	    text-align: center;
	}

	@keyframes marquee {
	    0% {
		    transform: translate(0, -100%);
		}
		100% {
		    transform: translate(0, 0);
		}
	}

	




























	main article #why h2,main article #why p{
		width: 200px;
	}
	main article #why .why-content{
		flex-direction: column;
	}

	main article #why .why-content .why-content-text{
		margin:10px auto;
		width: 50vw;
	}












	footer{
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		background-color: #FAE005;
		height: fit-content;
		align-items: center;
	}

	footer .footer-box-a{
		background-color: #F4F5FB;
		height: 200px;
		width: 100vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}

	footer .footer-box-a img{
		width: 150px;
		height: auto;
		margin: 15px 0;
	}

	footer .footer-box-a p{
		width: 250px;
		height: auto;
		font-size:0.8em;
		text-align: justify;
	}

	footer .footer-box-b{
		background-color: #FAE005;
		height: fit-content;
		width: 100vw;
		padding: 20px;
	}

	footer .footer-box-b h1{
		text-align: justify;
		margin:10px 10px;
		width: 95vw;
	}
	footer .footer-box-b p{
		font-size:0.7em;
		text-align: justify;
		margin:10px auto;
		width: 95vw;
	}

	footer .footer-box-c{
		background-color: #F4F5FB;
		width: 100vw;
		align-items: center;
		height: fit-content;
		display: flex;
		flex-direction: column;
	}

	footer .footer-box-c p{
		text-align: justify;
		width: 80vw;
	}
	
	footer .footer-box-c .subs{
		width: 90vw;
	}

	footer .footer-box-c .subs input[type=text]{
		border:1px solid black;
		border-radius: 5px;
		height: 30px;
		width: 250px;
		padding: 12px 10px;
	  	box-sizing: border-box;
	}
	footer .footer-box-c .subs input[type=submit]{
		border:none;
		border-radius: 5px;
		height: 30px;
		box-sizing: border-box;
		background-color: #FAE005;
		color: black;
	}

	footer .footer-box-c .socmed{
		padding: 25px;
		width: 250px;
		height: 100px;
		display: grid;
		margin:0px 15vw;
		grid-template-areas:
		"wa ig gm"
		"wa fb tw";
	}
}













@media screen and (max-width: 576px){
	nav {
		position: relative;
	}
	nav ul{
		position: absolute;
		height: 100vh;
		width: 100vw;
		align-items: center;
		justify-content: space-evenly;
		flex-direction: column; 
		background-color: white;
		z-index: -1;
		transform: translateY(-60%);
		transition: all 0.5s;
		opacity: 0;
	}
	nav ul.slide{
		transform: translateY(55%);
		opacity: 1;
	}
	nav ul li{
		text-align: center;
		box-shadow: 0px 2px rgba(2,2,2,0.05),0px 3px rgba(2,2,2,0.04);
		width: 100vw;
	}
	nav ul li a {
		font-size: 1.3em;
	}
	#toggle-menu{
		display: flex;
	}








	main article #banner {
		height: 500px;
		padding:0 0 0 0;
		display: flex;
	}

	main article #banner #banner-text{
		width: 100vw;
		height: 500px;
		background-color: #F4F5FB;
		position: relative;
		z-index: 0;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
	}


	main article #banner #banner-text .highlight{
		width: 75vw;
		height: 80px;
	}

	main article #banner #banner-text .highlight-content h1.marq {
		font-size: 15px;
	}

















	main article #contact-cont {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		background-color: white;
		padding: 40px 0;
	}

	main article #contact-cont #contact-text{
		text-align: justify;
		margin:30px;
	}

	main article #contact-cont .socmed{
		padding: 25px;
		width: 250px;
		height: 100px;
		display: grid;
		grid-template-areas:
		"wa ig gm"
		"wa fb tw";
	}

	footer .footer-box-b h1{
		width: 90vw;
	}

	footer .footer-box-b p{
		width: 90vw;
	}
}




@media screen and (max-width: 390px){
	main article #banner #banner-text .text h1.kecil  {
		font-size: 15px;
	}

	main article #banner #banner-text .text h1.besar  {
		font-size: 25px;
	}
	

	main article #why img{
		width: 100px;
		height: 100px;
		margin:0 auto;
	}
	main article #why .why-content{
		flex-direction: column;
	}

	main article #why .why-content .why-content-text{
		margin:10px auto;
		width: 80vw;
	}

	footer .footer-box-c .subs input[type=text] {
		width: 200px;
	}
}